<style scoped>
.main {
    height: 90vh;
}
</style>

<div class="main" ng-if="profile" layout="column" layout-align="start center">
    <div layout="row" class="md-whiteframe-2dp">
        <img ng-bind="profile" src="{{'http://proxer.me/' + profile.picture}}" alt="Profile picture" />
        <md-content layout-padding>
            <p ng-if="profile.self">This is you!</p>
            <p>Name: {{profile.name}}</p>
            <p>Titel: {{profile.ranking.title}}</p>
            <p>Punkte: {{profile.ranking.total}}</p>
        </md-content>
    </div>
    <md-button ui-sref="messages" class="md-raised md-primary">
        View messages
    </md-button>
    <md-button ui-sref="watchlist" class="md-raised md-primary">
        View watchlist
    </md-button>
</div>
