<style scoped>

#profile {
    margin: 5px;
}

#avatar-exp {
    padding-top: 5px;
    height: 270px;
}

.avatar {
    width: 150px;
    position: relative;
    top: 10px;
    left: 10px;
}

.avatar img {
    border-radius: 50%;
}

.exp-arc {
    position: absolute;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.1s linear;
}

#stats {
    width: 270px;
}

#news {
    margin: 5px;
    overflow-y: auto;
    max-height: 90vh;
}

#news p {
    max-width: 65vh;
}

.news-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

</style>

<div ng-if="profile" layout="row" layout-align="center start">
    <div id="profile" layout="column">
        <div id="avatar-exp">
            <progress-arc class="exp-arc" size="270" complete="profile.progress" stroke="#736DAB" stroke-width="10">
            </progress-arc>
            <div class="avatar">
                <img ng-src="{{'https:' + profile.picture}}" alt="Profile picture"/>
            </div>
        </div>
        <div id="stats" class="md-whiteframe-4dp">
            <md-content layout-padding translate-namespace="PROFILE">
                <p ng-if="profile.self" style="text-align: center;">{{ 'PROFILE.SELF' | translate }}</p>
                <p>{{ 'PROFILE.NAME' | translate }}: {{profile.name}}</p>
                <p>{{ 'PROFILE.TITLE' | translate }}: {{profile.ranking.title}}</p>
                <p>{{ 'PROFILE.POINTS' | translate }}: {{profile.ranking.total}}</p>
                <p>{{ 'PROFILE.ANIME' | translate }}: {{profile.ranking.anime}}</p>
                <p>{{ 'PROFILE.MANGA' | translate }}: {{profile.ranking.manga}}</p>
            </md-content>
        </div>
    </div>
    <div layout="column">
        <md-content ng-if="news" layout-fill>
            <h2>{{ 'PROFILE.NEWS' | translate }}</h2>
            <md-list id="news">
                <md-list-item class="md-3-line long-text-list" ng-repeat="newsItem in news" ng-click="openNews(newsItem);">
                    <img ng-src="{{ createNewsImage(newsItem) }}" class="news-image" alt="image" />
                    <div class="md-list-item-text" layout="column">
                        <h3>{{newsItem.subject}}</h3>
                        <h4>{{newsItem.uname}}</h4>
                        <p>{{newsItem.description}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
