<md-content>
    <loader ng-if="!conversations"></loader>
    <md-list flex="50" flex-offset="25">
        <md-list-item ng-repeat="conversation in conversations" class="md-2-line" ng-click="openConversation(conversation)">
            <img ng-src="{{getImage(conversation.image)}}" class="md-avatar" />
            <div class="md-list-item-text">
                <h3>{{conversation.topic}}</h3>
                <p>{{ 'MESSAGES.LAST_MESSAGE' | translate }}: {{conversation.timestamp_end * 1000 | date}}</p>
            </div>
        </md-list-item>
    </md-list>
</md-content>
