<md-content layout-align="center start" flex="66" layout="column">
    <loader ng-if="!messages"></loader>
    <md-list flex="100">
        <md-list-item ng-repeat="message in messages" class="md-3-line long-text-list">
            <img ng-src="{{getAvatar(message.avatar)}}" class="md-avatar" />
            <div class="md-list-item-text">
                <h3>{{message.username}}</h3>
                <h4>{{message.timestamp * 1000 | date}}</h4>
                <p>{{message.message}}</p>
            </div>
        </md-list-item>
    </md-list>
    <md-input-container flex="100" style="width: 100%;" ng-if="messages">
        <label>{{ 'MESSAGES.WRITE_MESSAGE' | translate }}</label>
        <textarea ng-model="input.message" ng-disabled="{{ input.sent }}"></textarea>
        <md-button class="pull-right md-raised" ng-click="sendMessage()">{{ 'MESSAGES.SEND' | translate }}</md-button>
    </md-input-container>
</md-content>
