md-icon.md-font {
    line-height: 1.75;
}

.long-text-list {
    height: unset !important;
}

.menu-icon {
    height: auto;
    width: auto;
    margin-left: 0;
    margin-top: 11px !important;
    margin-bottom: 11px !important;
}

.menu {
    display: flex;
    justify-content: center;
    height: 75px;
}

.menu-item {
    width: 100%;
    justify-content: space-around;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
}

.no-display {
    display: none;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.multiline {
    white-space: pre-wrap;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: grey;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: grey;
}
