<div ng-if="!current.stream && current.info && current.info.streams">
    <div layout="column">
        <md-button ng-repeat="stream in current.info.streams" ng-click="select(stream)">{{stream.name}}</md-button>
    </div>
</div>
<div ng-if="current.stream && !current.canPlay">
    <loader></loader>
</div>
<div layout="row" ng-if="hasVideo()" layout-fill>
    <video width="100%" height="100%" video-ready ready="current.canPlay" autoplay controls ng-attr-src="{{current.video.url}}" ng-class="{ 'no-display': !current.canPlay }"/>
</div>
