<style scoped>
.online {
    color: green;
}

.delete-icon {
    color: red;
}
</style>

<loader ng-if="!watchlist"></loader>
<div ng-if="watchlist" layout="row" layout-fill style="margin-bottom: 10px;">
    <md-list id="watchlist-anime" class="md-whiteframe-4dp" layout-margin flex="50">
        <md-list-item ng-repeat="anime in watchlist.anime" class="md-1-line" ng-click="clickAnime(anime)" layout="row">
            <md-icon class="fa fa-play-circle-o fa-lg" ng-class="{online: anime.status}" flex="5"></md-icon>
            <div class="md-list-item-text" flex="95">
                <h3>{{anime.name}} - {{anime.episode}}</h3>
            </div>
            <md-button class="md-icon-button md-secondary" ng-click="deleteEntry(anime)" aria-label="Delete"><i class="fa fa-times delete-icon"></i></md-button>
        </md-list-item>
    </md-list>
    <md-list id="watchlist-manga" class="md-whiteframe-4dp" layout-margin flex="50">
        <md-list-item ng-repeat="manga in watchlist.manga" class="md-1-line" ng-click="clickManga(manga)" layout="row">
            <md-icon class="fa fa-play-circle-o fa-lg" ng-class="{online: manga.status}" flex="5"></md-icon>
            <div class="md-list-item-text" flex="95">
                <h3>{{manga.name}} - {{manga.episode}}</h3>
            </div>
            <md-button class="md-icon-button md-secondary" ng-click="deleteEntry(manga)" aria-label="Delete"><i class="fa fa-times delete-icon"></i></md-button>
        </md-list-item>
    </md-list>
</div>
