<md-content class="md-padding" layout-fill layout-margin>
    <div class="md-whiteframe-4dp" layout="row" flex>
        <md-tabs flex md-dynamic-height md-border-bottom>
            <md-tab id="account" label="Account">
                <md-content layout-padding>
                    <md-input-container>
                        <label>Username</label>
                        <input ng-model="settings.account.user.username">
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input ng-model="settings.account.user.password" type="password">
                    </md-input-container>
                    <md-checkbox ng-model="settings.account.keep_login" aria-label="Keep Login">
                        Keep Login
                    </md-checkbox>
                    <md-checkbox ng-model="settings.account.store_password" aria-label="Save Password">
                        Save Password
                    </md-checkbox>
                </md-content>
            </md-tab>
            <md-tab id="anime" label="Anime">
                <md-content layout-padding>
                    <md-input-container>
                        Open in:
                        <md-radio-group ng-model="settings.anime.open_with" layout="row">
                            <md-radio-button value="internal">Proxtop</md-radio-button>
                            <md-radio-button value="system">System (Browser)</md-radio-button>
                            <md-radio-button value="external">External</md-radio-button>
                        </md-radio-group>
                        <div ng-if="settings.anime.open_with == 'external'">
                            <label>Application</label>
                            <input ng-model="settings.anime.external_path" />
                        </div>
                    </md-input-container>
                    <md-input-container>
                        Preferred Stream Provider:
                        <md-select ng-model="settings.anime.preferred_stream" aria-label="Preferred Stream Provider">
                            <md-option ng-repeat="provider in providers" value="{{provider.toLowerCase()}}">{{provider}}</md-option>
                        </md-select>
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab id="watchlist" label="Watchlist">
                <md-content layout-padding>
                    <md-input-container>
                        Check every:
                        <label>Interval in minutes</label>
                        <input ng-model="settings.watchlist.check_interval" type="number" step="5" min="1"/>
                    </md-input-container>
                    <md-checkbox ng-model="settings.watchlist.display_notification" aria-label="Display Notification">
                        Display Notification
                    </md-checkbox>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
    <md-button class="md-raised md-primary pull-right" ng-click="saveSettings()">Save</md-button>
</md-content>
