<!DOCTYPE html>
<html ng-app="proxtop">
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>Proxtop</title>
        <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />
        <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="assets/style.css" />
    </head>
    <body>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-aria/angular-aria.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.js"></script>
        <script src="../bower_components/angular-material/angular-material.js"></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="../bower_components/lodash/lodash.js"></script>
        <script src="../bower_components/angular-progress-arc/angular-progress-arc.js"></script>
        <script src="../bower_components/angular-translate/angular-translate.js"></script>
        <script src="../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="../bower_components/ng-debounce/angular-debounce.js"></script>
        <script src="ui/app.js"></script>
        <script src="ui/themes.js"></script>
        <script src="ui/directive/loader.directive.js"></script>
        <script src="ui/directive/video-ready.directive.js"></script>
        <script src="ui/directive/key-controls.directive.js"></script>
        <script src="ui/providers/electron.provider.js"></script>
        <script src="ui/settings/settings.provider.js"></script>
        <script src="ui/providers/progress.provider.js"></script>
        <script src="ui/providers/open.provider.js"></script>
        <script src="ui/providers/notification.provider.js"></script>
        <script src="ui/providers/supported.provider.js"></script>
        <script src="ui/providers/avatar.provider.js"></script>
        <script src="ui/main/main.js"></script>
        <script src="ui/main/main.controller.js"></script>
        <script src="ui/login/login.js"></script>
        <script src="ui/login/login.controller.js"></script>
        <script src="ui/profile/profile.js"></script>
        <script src="ui/profile/profile.controller.js"></script>
        <script src="ui/watchlist/watchlist.js"></script>
        <script src="ui/watchlist/watchlist.controller.js"></script>
        <script src="ui/settings/settings.js"></script>
        <script src="ui/settings/settings.controller.js"></script>
        <script src="ui/messages/messages.js"></script>
        <script src="ui/messages/messages.controller.js"></script>
        <script src="ui/messages/message.controller.js"></script>
        <script src="ui/watch/watch.js"></script>
        <script src="ui/watch/watch.controller.js"></script>
        <script src="ui/menu/menu.controller.js"></script>

        <div layout="column" layout-fill ng-controller="MenuController">
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools" md-whiteframe="4">
                    <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleMenu()" hide-gt-md>
                        <md-icon md-font-icon="fa-bars" class="fa"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <div layout="row" class="full-height">
                <md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
                    <md-content>
                        <md-list>
                            <md-list-item ui-sref="profile">
                                <md-icon md-font-icon="fa-user" class="fa menu-icon md-avatar-icon"></md-icon>
                                <span>{{ 'MENU.PROFILE' | translate }}</span>
                            </md-list-item>
                            <md-list-item ui-sref="watchlist">
                                <md-icon md-font-icon="fa-bookmark" class="fa menu-icon md-avatar-icon"></md-icon>
                                <span>{{ 'MENU.WATCHLIST' | translate }}</span>
                            </md-list-item>
                            <md-list-item ui-sref="messages">
                                <md-icon md-font-icon="fa-envelope" class="fa menu-icon md-avatar-icon"></md-icon>
                                <span>{{ 'MENU.MESSAGES' | translate }}</span>
                            </md-list-item>
                            <md-list-item ui-sref="settings">
                                <md-icon md-font-icon="fa-gears" class="fa menu-icon md-avatar-icon"></md-icon>
                                <span>{{ 'MENU.SETTINGS' | translate }}</span>
                            </md-list-item>
                            <md-list-item ng-click="logout();" style="margin-top: 6px; margin-bottom: 6px; margin-left: 8px; margin-right: 8px;">
                                <md-icon md-font-icon="fa-sign-out" class="fa menu-icon md-avatar-icon"></md-icon>
                                <span>{{ 'MENU.LOGOUT' | translate }}</span>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-sidenav>
                <md-content ui-view id="mainWindow" layout-padding layout="column" class="full-width">
                </md-content>
            </div>
        </div>
    </body>
</html>
